*.class

#package file
*.war
*.ear

#kdiff3 igonre
*.orig

#maven ignore
target/

#eclipse igonre
.settings/
.project
.classpath

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file
*.log
*.cache
*.diff
*.path
*.tmp

# system igonre
.DS_Store
Thumbs.db
